
/* دول ثوابت متغيرهمش */
.root {
    -fx-background-color: linear-gradient(to bottom , #070F2B, #171f3a);
    /* -fx-background-color:  #070F2B; */
}

.test-label {
    -fx-font-family: "Segoe UI", "Tahoma", "Arial";
    -fx-font-size: 48px;
    -fx-text-fill: linear-gradient(#ffffff, #cfe8ff);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 8, 0, 0, 4 );
    -fx-alignment: center;
}

@media screen and (max-width: 600px) {
    .home-label {
        -fx-font-size: 34px;
    }
}

/* ======================================================= */
/* ====================== style.css ====================== */


/* ==========  home  ========== */
.scroll-pane > *.viewport {
    -fx-background-color: linear-gradient(to bottom , #070F2B, #171f3a);

}



/* ==========  browse  ========== */



/* ==========  news  ========== */




/* ==========  about  ========== */





/* ==========  Sign up  ========== */






/* ==========  Log in  ========== */



/* ==========  Confirm Order  ========== */




/* ==========  Game Details  ========== */




/* ==========  Profile  ========== */




/* ==========  Shopping Cart  ========== */



/* ==========  Log In  ========== */



/* ==========  SignUp  ========== */




