/* ========== style.css ========== */

/* الخلفية العامة */
.root {
    -fx-background-color: linear-gradient(to bottom , #070F2B, #10172f);
    /* -fx-background-color:  #070F2B; */
}

/* تصميم النص "Home" */
.home-label {
    -fx-font-family: "Segoe UI", "Tahoma", "Arial";
    -fx-font-size: 48px;
    -fx-text-fill: linear-gradient(#ffffff, #cfe8ff);
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 8, 0, 0, 4 );
    -fx-alignment: center;
}

/* حجم أصغر للشاشات الصغيرة */
@media screen and (max-width: 600px) {
    .home-label {
        -fx-font-size: 34px;
    }
}
