/* دول ثوابت متغيرهمش */
.root {
  -fx-background-color: linear-gradient(to bottom, #070f2b, #171f3a);
  /* -fx-background-color:  #070F2B; */
}

.test-label {
  -fx-font-family: "Segoe UI", "Tahoma", "Arial";
  -fx-font-size: 48px;
  -fx-text-fill: linear-gradient(#ffffff, #cfe8ff);
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 8, 0, 0, 4);
  -fx-alignment: center;
}

@media screen and (max-width: 600px) {
  .home-label {
    -fx-font-size: 34px;
  }
}

/* ======================================================= */
/* ====================== style.css ====================== */

.transparent-scroll {
  -fx-background-color: transparent;
}

.transparent-scroll > .viewport {
  -fx-background-color: transparent;
}

.transparent-flow {
  -fx-background-color: transparent;
}

/* ===== TableView ===== */
.table-view {
  -fx-background-color: transparent;
  -fx-control-inner-background: transparent;
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: transparent;
  background-color: transparent;
  -fx-font-size: 14px;
}

.table-view .column-header-background {
  -fx-background-color: transparent;
}
.table-view .column {
  -fx-background-color: transparent;
  -fx-control-inner-background: transparent;
}
/* شفافية كاملة لمكان الـ scroll-bar */
.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
  -fx-background-color: transparent; /* خلفية السكروول */
}

.table-view .scroll-bar:vertical .track,
.table-view .scroll-bar:horizontal .track {
  -fx-background-color: transparent; /* الممر اللي بيتحرك فيه thumb */
}

.table-view .scroll-bar:vertical .thumb,
.table-view .scroll-bar:horizontal .thumb {
  -fx-background-color: rgba(255, 255, 255, 0.3); /* الجزء المتحرك شفاف شويه */
  -fx-background-radius: 5px;
}

/* ===== TableCell Buttons ===== */
.table-cell > .button {
  -fx-background-color: #ee1212da;
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
  -fx-background-radius: 10;
  -fx-cursor: hand;
}

.table-cell > .button:hover {
  -fx-background-color: #ff2d2dda;
}
.table-view .column-header-background {
  -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header .label,
.table-view .column-header .scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-text-fill: #ffffff; /* لون النص */
  -fx-font-weight: bold;
}

.admin-field {
  -fx-pref-width: 500px; /* ثابت */
  -fx-pref-height: 65px; /* ثابت */
  -fx-max-width: 500px; /* منع التكبير */
  -fx-min-width: 500px; /* منع التصغير */
  -fx-background-radius: 10;
  -fx-padding: 5 15;
  -fx-font-size: 16px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #1b1a55;
  -fx-effect: none;
  -fx-alignment: center-left;
  border-color: #1b1a55;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #1b1a55;
}

.admin-dr {
  -fx-pref-width: 250px; /* ثابت */
  -fx-pref-height: 65px; /* ثابت */
  -fx-max-width: 250px; /* منع التكبير */
  -fx-min-width: 250px; /* منع التصغير */
  -fx-background-radius: 10;
  -fx-padding: 5 15;
  -fx-font-size: 16px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #1b1a55;
  -fx-effect: none;
  -fx-alignment: center-left;
  border-color: #1b1a55;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #1b1a55;
}
.combo-box-popup .list-view {
  -fx-background-color: #1b1a55; /* نفس لون الـ ComboBox */
}

/* لون كل عنصر في القائمة */
.combo-box-popup .list-cell {
  -fx-background-color: #1b1a55;
  -fx-text-fill: #ffffff; /* لون الكتابة أبيض */
}
.combo-box-popup {
  -fx-text-fill: #ffffff;
}
/* لون العنصر عند التحويم */
.combo-box-popup .list-cell:hover {
  -fx-background-color: #2a2a7b; /* لون أغمق شوية عند المرور */
}

.navbar {
  -fx-padding: 12 25;
}

.search-bar {
  -fx-background-radius: 25;
  -fx-border-radius: 25;
  -fx-background-color: #1b1a55;
  -fx-text-fill: white;
  -fx-prompt-text-fill: #999;
  -fx-padding: 6 12;
  -fx-font-size: 14px;
}

.nav-link {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}
.nav-link:hover {
  -fx-text-fill: #00d0ff;
}

.auth-btnL {
  -fx-background-color: #070f2b;
  -fx-text-fill: white;
  -fx-background-radius: 25;
  -fx-padding: 6 15;
  -fx-font-size: 14px;
  -fx-border-color: #fff;
  -fx-border-width: 1px;
  -fx-border-radius: 25;
}
.auth-btnL:hover {
  -fx-background-color: #061033;
}
.auth-btnS {
  -fx-background-color: #1b1a55;
  -fx-text-fill: white;
  -fx-background-radius: 25;
  -fx-padding: 6 15;
  -fx-font-size: 14px;
}
.auth-btnS:hover {
  -fx-background-color: #1f1e63;
}

.profile-btn,
.logout-btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-background-radius: 8;
  -fx-padding: 6 15;
}

/* ==========  home  ========== */

/* ==========  browse  ========== */

/* ==========  news  ========== */

/* ==========  about  ========== */

/* ==========  Sign up  ========== */

/* ==========  Log in  ========== */

/* Login Scene */
.login-pane {
  background-color: #ffffff;
  -fx-background-radius: 0;
  padding: 50px;
  -fx-padding: 0 50 0 0;
  border-radius: 0;
  -fx-border-radius: 0;
  border-width: 1px;
  -fx-border-width: 1;
  -fx-alignment: center;
  -fx-padding: 0 -590 0 -590;
}

.login-title {
  font-size: 42px;
  -fx-font-size: 42px;
  font-weight: bold;
  -fx-font-weight: bold;
  color: #fff;
  -fx-text-fill: #fff;
  padding: 0 0 20px 0;
  -fx-padding: 0 0 20 0;
  border-color: transparent;
  -fx-border-color: transparent;
  border-width: 0;
  -fx-border-width: 0;
}

.login-field {
  -fx-pref-width: 500px; /* ثابت */
  -fx-pref-height: 65px; /* ثابت */
  -fx-max-width: 500px; /* منع التكبير */
  -fx-min-width: 500px; /* منع التصغير */
  -fx-background-radius: 10;
  -fx-padding: 5 15;
  -fx-font-size: 16px;
  -fx-text-fill: #ffffff;
  -fx-background-color: #535c91;
  -fx-effect: none;
  -fx-alignment: center-left;
  border-color: #535c91;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #535c91;
}

.login-button {
  background-color: #1b1a55;
  -fx-background-color: #1b1a55;
  color: #fff;
  -fx-text-fill: #fff;
  font-weight: bold;
  -fx-font-weight: bold;
  border-radius: 0;
  -fx-background-radius: 10;
  -fx-pref-width: 500px;
  -fx-pref-height: 55px;
  -fx-effect: none;
  font-size: 18px;
  -fx-font-size: 18px;
  cursor: pointer;
  -fx-cursor: hand;
  padding: 10px 20px;
  -fx-padding: 10 20;
  -fx-alignment: center;
}
.backButton {
  -fx-font-size: 18px;
  -fx-text-fill: #fff;
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-padding: 0 0 50 50;
}
.login-button:hover {
  background-color: #1b1a55;
  -fx-background-color: #1b1a55;
  cursor: pointer;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(187, 134, 252, 0.4), 8, 0, 0, 0);
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-translate-y: 0;
}
.doLabel {
  -fx-font-size: 18px;
  -fx-text-fill: #fff;
  /* -fx-alignment: right; */
}
.signUp-button {
  background-color: #ffffff00;
  -fx-background-color: #ffffff00;
  color: #fff;
  -fx-text-fill: #fff;
  font-weight: bold;
  -fx-font-weight: bold;
  font-size: 18px;
  -fx-font-size: 18px;
  cursor: pointer;
  -fx-cursor: hand;
  padding: 0px 0px;
  -fx-padding: 0 0;
  -fx-alignment: center;
}
#imageContainer {
  -fx-background-image: url("src/main/resources/com/game_store/assets/Login.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover; /* يخلي الصورة تغطي كل المساحة */
  -fx-background-position: center center;
}

.remember-checkbox {
  -fx-text-fill: #ffffff; /* لون النص أبيض */
  -fx-font-size: 16px;
  -fx-padding: 5 0 5 0;
  /* -fx-padding: 0 355 0 0; */
}

/* لتغيير شكل الـ box نفسه (مربع التشيك) */
.remember-checkbox .box {
  -fx-border-color: #535c91;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-padding: 4;
}

/* لما يبقى checked */
.remember-checkbox:selected .box {
  -fx-background-color: #535c91; /* لون تعبئة عند الاختيار */
  -fx-border-color: #535c91;
}

/* لتعديل الـ mark (علامة الصح) */
.remember-checkbox:selected .mark {
  -fx-background-color: transparent;
  -fx-shape: "M0 5 L5 10 L15 0"; /* مسار مخصص للعلامة */
  -fx-border-color: #fff;
  -fx-border-width: 2;
  -fx-scale-x: 1.2;
  -fx-scale-y: 1.2;
}

/* ==========  Confirm Order  ========== */

/* ==========  Game Details  ========== */

/* ==========  Profile  ========== */

.profile-menu {
  -fx-background-color: #1a1d55;
  -fx-padding: 25;
  -fx-background-radius: 20;
  -fx-pref-width: 560;
}

.menu-title {
  -fx-text-fill: #00d0ff;
  -fx-font-size: 24;
  -fx-font-weight: bold;
}

.menu-sub {
  -fx-text-fill: #9aa0ff;
  -fx-font-size: 20;
}

.menu-btn {
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-font-size: 24;
  -fx-alignment: CENTER_LEFT;
  -fx-text-alignment: left;
}

.menu-btn:hover {
  -fx-text-fill: #00d0ff;
}

.menu-hint {
  -fx-text-fill: #8b8fc7;
  -fx-font-size: 20;
}

.profile-card {
  -fx-background-color: #1d1f5e;
  -fx-padding: 30;
  -fx-background-radius: 25;
}

.profile-title {
  -fx-text-fill: white;
  -fx-font-size: 32;
  -fx-font-weight: bold;
}

.profile-subtitle {
  -fx-text-fill: #b0b3ff;
  -fx-font-size: 20;
}

.field-pro-label {
  -fx-text-fill: white;
  -fx-font-size: 24;
}

.text-pro-field {
  -fx-background-radius: 10;
  -fx-background-color: #3a3f8f;
  -fx-text-fill: white;
  -fx-pref-height: 44px; /* ثابت */
}

.verified {
  -fx-text-fill: #2cff9a;
  -fx-font-size: 11;
}

.save-btn {
  -fx-background-color: white;
  -fx-text-fill: #1d1f5e;
  -fx-background-radius: 20;
  -fx-padding: 8 25;
}

.profile-menu {
  -fx-pref-width: 30%;
  -fx-min-width: 460;
  -fx-max-width: 560;
  -fx-min-height: 450;
  -fx-max-height: 450;
}

.profile-card {
  -fx-background-color: #1d1f5e;
  -fx-background-radius: 25;
}

.logout-pro-btn {
  -fx-background-color: transparent;
  -fx-border-color: #fff;
  -fx-border-width: 1px;
  -fx-border-radius: 25;
  -fx-text-fill: #fff;
  -fx-background-radius: 20;
  -fx-padding: 8 25;
}

/* ==========  Shopping Cart  ========== */

/* ==========  Log In  ========== */

/* ==========  SignUp  ========== */
